POSTGRES_USER=you
POSTGRES_USERNAME=you
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=somepassword
POSTGRES_DB=nc

SESSION_SECRET=superdupersecret

# Note: DATABASE_URL is used by sqlx at compile-time
DATABASE_URL=postgres://you:somepassword@localhost:5432/nc
